#notes {
  background-color: #282c34;
  min-height: 80vh;
  padding-bottom: 30px;
  color: #f9f9f9;
  text-align: left;
}

.headerContainer {
  padding-bottom: 30px;
}

.homeBtn {
  color: #45505b;
  padding: 16px 20px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 20px;
  background: #f2f3f5;
}

.note {
  margin-top: 20px;
  background-color: #3d4148;
  padding: 30px;
  border-radius: 10px;
  word-wrap: break-word;
  margin-bottom: 50px;
}
